.advantages {
  background-color: $color-white;
}

.advantages__caption {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.advantages__item {
  font-family: "Arial", sans-serif;
  color: $color-gray-darken;
}
