.example {
  padding-top: 17px;
  padding-bottom: 33px;

  background-color: $color-gray-lighten;
}

.example__title {
  margin: 0;
  margin-bottom: 23px;

  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $color-black;
}

.example__descr {
  width: 266px;
  margin: 0;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
}

.example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__item {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  margin-bottom: 34px;
  padding-top: 13px;
  padding-bottom: 17px;

  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.example__item-value {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: $color-black;
  text-transform: uppercase;
}

.example__item-category {
  position: absolute;
  top: calc(100% - 8px);
  left: 50%;
  z-index: 1;

  width: 87px;
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;

  font-size: 12px;
  line-height: 12px;
  font-family: "Arial", sans-serif;
  text-align: center;
  text-transform: lowercase;

  background-color: $color-gray-lighten;
  transform: translate(-50%);
}

.example__item-total {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 34px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;
}

.example__item-total-title {
  margin: 0;
}

.example__item-total-value {
  margin: 0;
}

.example__diff {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.example__diff-img-container {
  width: 100%;
}

.example__diff-img-wrap {
  display: none;
  width: 100%;
  height: 240px;
  margin-bottom: 32px;

  &--active {
    display: block;
  }
}

.example__diff-img {
  width: auto;
  max-width: none;
  height: 100%;
  margin-left: -20px;
}

.example__diff-range-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5px;
}

.example__diff-range-label {
  position: relative;

  display: block;
  width: 84px;
  height: 14px;
  margin-top: 3px;

  background-color: $color-white;
  border: 1px solid $color-border-catalog-second;
  border-radius: 6px;

  &::before {
    content: "";
    position: absolute;
    top: 3px;

    width: 35px;
    height: 6px;

    background-color: $color-green;
    border-radius: 3px;
  }

  &--before::before {
    left: 4px;
  }

  &--after::before {
    right: 4px;
  }
}

.example__diff-range-btn {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;

  background: none;
  border: none;

  &--before {
    margin-right: 10px;
  }

  &--after {
    margin-left: 10px;
  }
}

@media (min-width: $tablet-width) {
  .example {
    padding: 0;
    padding-top: 43px;

    background: none;
    border-top: 1px solid $color-border;
  }

  .example__title {
    width: 610px;
    margin-bottom: 64px;

    font-size: 60px;
    line-height: 60px;
  }

  .example__descr {
    width: 680px;
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 255px;
  }

  .example__list {
    justify-content: flex-start;
    width: 384px;
  }

  .example__item {
    width: 162px;
    margin: 0;
    margin-right: 42px;
    padding-top: 14px;
    padding-bottom: 19px;

    border: 1px solid $color-border-catalog-second;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .example__item-value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__item-category {
    top: auto;
    bottom: -6px;

    width: auto;
    min-width: fit-content;
    max-width: 150px;
    padding-right: 8px;
    padding-left: 8px;

    font-size: 14px;
    line-height: 14px;

    background: $color-white;
  }

  .example__item-total {
    flex-direction: column;
    align-items: flex-end;
    width: 192px;
    margin: 0;

    font-size: 20px;
  }

  .example__item-total-title {
    margin-bottom: 10px;
  }

  .example__diff {
    width: 708px;
    min-height: 462px;
    padding-top: 362px;

    background: linear-gradient(to right, $color-gray-lighten 50%, #eaeaea 50%);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100vw;
      height: 100%;

      background-color: #eaeaea;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;

      width: 100vw;
      height: 100%;

      background-color: $color-gray-lighten;
    }
  }

  .example__diff-img-container {
    display: flex;
    width: 708px;
    margin-top: -530px;
  }

  .example__diff-img-wrap {
    display: block;
    width: 354px;
    height: 517px;
    margin-bottom: 13px;
    overflow: hidden;
  }

  .example__diff-img {
    position: relative;

    width: auto;
    max-width: none;
    height: 100%;
    margin: 0;
  }

  .example__diff-img-wrap--before .example__diff-img {
    left: 15px;
  }

  .example__diff-img-wrap--after .example__diff-img {
    right: 340px;
  }

  .example__diff-range-wrap {
    width: 100%;
    padding: 0;
  }

  .example__diff-range {
    display: flex;
    justify-content: center;
    width: 444px;
    padding-top: 13px;
  }

  .example__diff-range-label {
    position: relative;

    width: 428px;
    height: 6px;
    margin: 0;

    background-color: $color-range;
    border: none;
    border-radius: 3px;

    &::before {
      content: "";
      position: absolute;
      top: -14px;
      left: 50%;

      width: 34px;
      height: 34px;

      background-color: $color-white;
      border: 1px solid $color-border-catalog-second;
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
      transform: translate(-50%);
    }

    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: 50%;

      width: 8px;
      height: 8px;

      background-color: $color-green;
      border-radius: 50%;
      transform: translate(-50%);
    }

    &:hover::before,
    &:active::before {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }

    &:active::before {
      border: 2px solid $color-green;
    }
  }

  .example__diff-range-btn {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 20px;

    &--before {
      padding-right: 5px;
    }

    &--after {
      padding-left: 5px;
    }
  }

  .example__diff-range-btn span {
    border-bottom: 1px dotted $color-black;
  }
}

@media (min-width: $desktop-width) {
  .example {
    padding-top: 20px;

    border: none;
  }

  .example__title {
    margin-bottom: 75px;
  }

  .example__wrap-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .example__info {
    flex-direction: column;
    width: 650px;
    padding-top: 71px;
    padding-bottom: 75px;

    background-color: $color-gray-lighten;
  }

  .example__descr {
    width: 435px;
    margin-bottom: 68px;
  }

  .example__item {
    margin-bottom: 60px;
  }

  .example__item-category {
    background: $color-gray-lighten;
  }

  .example__item-total {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 325px;
  }

  .example__item-total-title {
    width: 225px;
    margin: 0;
    padding: 0;

    text-align: left;
  }

  .example__item-total-value {
    width: 100px;
    padding: 0;

    text-align: right;
  }

  .example__diff {
    position: relative;

    width: 570px;
    min-height: auto;
    padding: 0;
    padding-top: 363px;

    background: linear-gradient(to right, $color-gray-lighten 50%, #eaeaea 50%);
  }

  .example__diff-wrap {
    position: relative;
  }

  .example__diff-img-container {
    width: 650px;
    margin-top: -553px;
    margin-bottom: 35px;
  }

  .example__diff-img-wrap {
    width: 325px;
    height: 517px;
    margin: 0;
  }

  .example__diff-img {
    position: relative;
    top: auto;
    left: auto;
  }

  .example__diff-img-wrap--before .example__diff-img {
    left: -40px;
  }

  .example__diff-img-wrap--after .example__diff-img {
    right: 365px;
  }

  .example__diff-range-wrap {
    width: 100%;
    padding: 0;
  }

  .example__diff-range {
    width: 428px;
    padding-top: 13px;
  }

  .example__diff-range-label {
    width: 428px;
    margin: 0;
  }

  .example__diff-range-btn {
    padding-top: 5px;
    padding-bottom: 5px;

    &--before {
      padding-right: 10px;
    }

    &--after {
      padding-left: 10px;
    }
  }

  .example__diff-range-btn span {
    border-bottom: 1px dotted $color-black;
  }
}
