.goods-more-list {
  padding-bottom: 39px;

  border-top: 1px solid $color-border-catalog-second;
}

@media (min-width: $tablet-width) {
  .goods-more-list {
    padding-bottom: 69px;

    border: none;
  }
}
