.intro {
  margin-bottom: 22px;
  color: $color-white;
  /*
  background-image: url("../../img/index-can-mobile@1x.png"), url("../../img/index-background-mobile@1x.jpg");
  */
}

.intro__heading-wrap {
  padding-top: 28px;
  padding-bottom: 168px;
  text-align: center;
  background-color: #63a73a;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-size: cover;
}

.intro__caption {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 15px;
  margin-left: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.intro__slogan {
  display: block;
  text-transform: uppercase;
  line-height: 14px;
}

.intro__link-wrap {
  padding-top: 135px;
  background-image: url("../../img/index-can-mobile@1x.png");
  background-position: center;
  background-size: cover;
}
