.intro {
  margin-bottom: 22px;
}

.intro__title-wrapper {
  padding-top: 27px;
  padding-bottom: 168px;

  text-align: center;
  color: $color-white;

  background-color: $color-bg-intro;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center;
  background-size: cover;
}

.intro__title {
  margin: 0;
  margin-bottom: 25px;

  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.intro__slogan {
  display: block;

  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.intro__image-wrapper {
  padding-top: 135px;
}

.intro__image-container {
  position: relative;
  z-index: 1;
}

.intro__image {
  position: absolute;
  top: -273px;
  left: 50%;

  width: 280px;
  height: 271px;

  transform: translate(-50%);
}

.intro__link {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

@media (min-resolution: 1.5dppx) {
  .intro__title-wrapper {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .intro {
    margin-bottom: 29px;
    padding-top: 29px;
    padding-bottom: 500px;
    padding-left: 117px;
  }

  .intro__title-wrapper {
    padding: 0;

    text-align: left;

    background: none;
  }

  .intro__title {
    width: 427px;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
    color: $color-black;
  }

  .intro__slogan {
    width: 427px;
    margin-bottom: 41px;

    font-size: 20px;
    line-height: 20px;
    color: $color-black;
  }

  .intro__image-wrapper {
    padding-top: 8px;
  }

  .intro__image {
    top: -28px;
    left: -88px;
    z-index: -1;

    width: 709px;
    height: 609px;

    transform: none;
  }

  .intro__link {
    width: 245px;
    margin-left: 2px;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: auto;
    margin: 0;
    padding: 0;
    padding-top: 106px;
    padding-bottom: 268px;
  }

  .intro__title-wrapper {
    padding-left: 162px;
  }

  .intro__title {
    width: 489px;
    margin-bottom: 41px;
  }

  .intro__slogan {
    margin-bottom: 53px;
  }

  .intro__image-wrapper {
    padding-left: 156px;
    padding-top: 0;
  }

  .intro__image {
    top: -315px;
    right: 335px;
    left: auto;

    width: 552px;
    height: 499px;
  }
}
