.page-header {
  background-color: $color-white;
}

.page-header__logo {
  height: 65px;
}

@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    .main-nav__toggle {
      display: none;
    }
  }
}
