.page-main {
  background-color: $color-white;
}

.page-main__intro {
  min-height: 480px;
  color: $color-white;
  background-color: $color-green;
  background-image: url("../../img/index-can-mobile@1x.png"), url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom center, top center;
}

.page-main__caption {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.page-main__slogan {
  text-transform: uppercase;
  line-height: 14px;
}
