.title {
  padding-top: 14px;
  padding-bottom: 29px;
}

.title__caption {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .title {
    padding-top: 52px;
    padding-bottom: 60px;
  }

  .title__caption {
    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: $desktop-width) {
  .title {
    padding-top: 188px;
  }
}
