$color-white: #ffffff;
$color-white-lighten: rgba(255, 255, 255, 0.3);
$color-gray-lighten: #f2f2f2;
$color-gray-darken: #444444;
$color-gray-second: rgba(68, 68, 68, 0.3);
$color-gray-third: #444444;
$color-green: #68b738;
$color-green-dark: #5eaa2f;
$color-green-page-header: #64a83b;
$color-black: #111111;
$color-black-second: #222222;
$color-border: #e6e6e6;
$color-border-catalog: #ededed;
$color-border-catalog-second: #cdcdcd;
$color-icon-catalog: #d3d3d3;
$color-error: #ff8282;
$color-bg-intro: #63a73a;
$color-range: #dcdcdc;
$color-default-social-icon: #666666;
$tablet-width: 768px;
$desktop-width: 1300px;
